langchain
langchain_openai
python-dotenv
langsmith
langchain_core
langchain_community
beautifulsoup4
langchain_pinecone
langchain_classic
langchain_groq
langserve
sse_starlette
langgraph
arxiv==1.4.8
wikipedia